# Production database
# DATABASE_URL="postgresql://user_postgres:password_postgres@aws-0-ap-southeast-1.pooler.supabase.com:6543/database_postgres?pgbouncer=true&schema=public"

# Local database
DATABASE_URL="postgresql://user_postgres:password_postgres@localhost:5432/database_postgres?pgbouncer=true&schema=public"

JWT_SECRET=
JWT_EXPIRES_IN=1h

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000/portal

# Koneksi PostGIS
POSTGIS_HOST=
POSTGIS_PORT=
POSTGIS_USER=
POSTGIS_PASSWORD=
POSTGIS_DB=
POSTGIS_SCHEMA=

# Konfigurasi GeoServer
GEOSERVER_URL=
GEOSERVER_WORKSPACE=
GEOSERVER_POSTGIS_DATASTORE=
GEOSERVER_USERNAME=
GEOSERVER_PASSWORD=

CESIUM_ION_TOKEN=YOUR_CESIUM_TOKEN